
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the fucking piece of shit bookingsite</h2>
<hr />
<form method="post">
    <label>Event</label>
    <input type="text" name="test" />
    <br />
    <label>Plats</label>
    <input type="text" name="test2" />
    <br />
    <label>Datum och tid</label>
    <input type="text" name="test3" />
    <br />
    <label>Namn</label>
    <input type="text" name="test4" />
    <br />w
    <input type="submit" />
</form>