
@{
    ViewBag.Title = "NewBooking";
}

<h2>NewBooking</h2>
<hr />
<form method="POST">
    <label>Event</label>
    <input type="text" name="EventName" />
    <br />
    <label>Plats</label>
    <input type="text" name="Place" />
    <br />
    <label>Datum och tid</label>
    <input type="text" name="Date" />
    <br />
    <label>Namn</label>
    <input type="text" name="Name" />
    <br />
    <input type="submit" />
</form>
